.gallery__elements {
    display: grid;
    grid-template-columns: repeat(3, minmax(282px, auto));
    grid-template-rows: repeat(auto-fit, minmax(361px, auto));
    row-gap: 20px;
    grid-column-gap: 17px;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

@media screen and (max-width: 1023px) and (min-width:768px) {
    .gallery__elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .gallery__elements {
        grid-template-columns: 1fr;
    }
}
