.profile-info__edit-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-self: center;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #fff;
    background-image: url('../../../images/edit-button-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background-color);
    grid-area: profile-info__edit-button;
}

@media screen and (max-width: 767px) {
    .profile-info__edit-button {
        width: 18px;
        height: 18px;
    }
}